/****************************************************************************************/
/*                       Projecto : Roteiros Turisticos                                 */
/*                                                                                      */
/*                       Autores                                                        */
/*                       Vitor Oliveira : 50031133                                      */
/*                       Inês Pires : 50030921                                          */
/*                       Taslima Abedin : 59931067                                      */
/*                       Lidiane Miranda : 50032576                                     */
/*                       André Teodoro : 50032748                                       */
/*                                                                                      */
/*                       Universidade Europeia 2014                                     */
/*                                                                                      */
/****************************************************************************************/


/****************************************************************************************/
/*							    	CSS FORMULARIO                     */
/****************************************************************************************/

/****************************************************************************************/
/*  							            BODY                                        */
/****************************************************************************************/

#form_roteiros {
    font-size: 22px;
    color: #484848;
    text-align: center;
    font-weight: normal;
}

#form_roteiros form#roteiros {
    font: inherit;
    color: #484848;
    text-align: left;
    width:850px;
    margin: 0px auto;
}
#form_roteiros form#roteiros fieldset{
    border:0;
    border-top: 1px solid #e1e1e1;
    background-color: #d9d9d9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:15px 25px;
}

#form_roteiros form#roteiros fieldset>legend{
    color:black;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    padding: 3px 14px;
    background-color: white;
    border: 2px solid #e1e1e1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#form_roteiros form#roteiros fieldset>legend>span{
    font-weight: bold;
}
#form_roteiros form#roteiros p{
    display:block;
}
#form_roteiros form#roteiros label{
    display: block;
    text-align: left;
    width:100px;
    height: 30px;
}

#form_roteiros form#roteiros input,
#form_roteiros form#roteiros select,
#form_roteiros form#roteiros textarea{
    font:inherit;
    font-size: 13.5px;
    font-weight: normal;
    height:36px;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none !important;
    color: #7c7770;
    margin:0px 49px 0px 0px;
    display:block;
    width:100%;
    padding-left:6px;
}
#form_roteiros form#roteiros label.error{
    width: 100%;
    color: red;
    font-size: 15px;
    height: auto;
    padding-left: 3px;
}
#form_roteiros form#roteiros input.emlinha{
    display:inline-block;
    /* margin-left: 100px; */
}
#form_roteiros form#roteiros label.emlinha{
    display: inline-block;
    /* position: absolute; */
    margin-top: 0px;
    vertical-align: super;
}

#form_roteiros form#roteiros input[type="radio"]{
    width:25px;
}

#form_roteiros form#roteiros textarea{
    height: auto;
}
#form_roteiros form#roteiros input:focus,
#form_roteiros form#roteiros select:focus,
#form_roteiros form#roteiros textarea:focus{
    outline: none !important;
    background-color: #FAFAFA;
    opacity: .75;
}

#form_roteiros form#roteiros #registar{
    font-weight: bold;
    color: #71b6d5;
    border: 2px solid #71b6d5;
    background-color: white;
    top: 0px;
    left: 565px;
}
