/****************************************************************************************/
/*                       Projecto : Roteiros Turisticos                                 */
/*                                                                                      */
/*                       Autores                                                        */
/*                       Vitor Oliveira : 50031133                                      */
/*                       Inês Pires : 50030921                                          */
/*                       Taslima Abedin : 59931067                                      */
/*                       Lidiane Miranda : 50032576                                     */
/*                       André Teodoro : 50032748                                       */
/*                                                                                      */
/*                       Universidade Europeia 2014                                     */
/*                                                                                      */
/****************************************************************************************/


/****************************************************************************************/
/*							    	CSS DE TERMOS E CONDICOES                           */
/****************************************************************************************/

/****************************************************************************************/
/*  							            BODY                                        */
/****************************************************************************************/

#termoscondicoes {
                    font-size: 22px;
                    color: #484848;
                 }

#termoscondicoes>span {
                        font-weight: bold;
                        color: #484848;
                      }

#texto{
        font-size: 18px;
        text-align: left;
      }

#texto>span{
            /*  font-size: 20px;    */
              text-align: left;
              font-weight: bold;
              color: #484848;
           }